.card {

  background-color: blue,
  border:
  float:
  font-size:
  font-weight:
  line-height:
  height:
  margin-right:
  margin-top:
  margin-left:
  text-align:
  width:
}
.gridContainer {
  display: .gridContainer
  gris-row-gap:
  grid-template-columns:
}
}
<div class="w3-green w3-hover-shadow w3-center">
  <p>FLIP</p>
</div>